body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    width: 20rem;
}

#game label {
    display: flex;
    border: 1px solid black;
    width: 5rem;
    aspect-ratio: 1;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

#modal{
    text-align: center;
}

#modal::backdrop {
    background-color: #0a0a0a;
    opacity: .6;
}

#close-modal-button, #reset {
    color: black;
    background-color: #0bc6e5;
    border: 1px solid black;
}

#close-modal-button:hover, #reset:hover {
    background-color: #09889d;
}